name: Lint & Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5.0.0
    - uses: actions/setup-node@v5
      with:
        node-version: '22.17.1'
    - run: npm install
    - run: npm run lint
    - run: npm run type-check
    - run: npm run build
